NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_PATIENT_PORTAL_URL=https://exames.image2doc.com.br/#/login/protocolo
NEXT_PUBLIC_WHATSAPP_NUMBER=5596981122434
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/inneuroap/
